<h2 class="my-5 container">Exercice 2 </h2>

<div class="container mt-5">
    <div class="card p-2 w-100">
        <h2 class="text-center my-3">
            Les article du jour
        </h2>
        <div class="d-flex mb-3">
            <label for="exampleFormControlTextarea1" class="me-5"> Veuillez saisir le nombre d'article a afficher dans
                la page </label>
            <input class="form-control w-25" id="exampleFormControlTextarea1" rows="3" type="number"
                [(ngModel)]="myVlaue" />

        </div>
    </div>


    <app-page [inputData]="myVlaue" [liste_articles]="liste_article"></app-page>

</div>

<router-outlet></router-outlet>